apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
mirror:
  platform:
    architectures:
      - amd64
    channels:
      # OpenShift 5 RC — épingler le build ec précis
      - name: stable-5.0
        minVersion: 5.0.0-ec.6
        maxVersion: 5.0.0-ec.6
  operators:
    - catalog: registry.redhat.io/redhat/redhat-operator-index:v5.0
      packages:
        - name: openshift-gitops-operator
