# Plateforme OCP 4.22.12 seule — pas d'opérateurs (minimal).
# graph: true → graph-data for OpenShift Update Service (air-gap upgrades).
apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
mirror:
  platform:
    architectures:
      - amd64
    channels:
      - name: stable-4.22
        minVersion: 4.22.12
        maxVersion: 4.22.12
    graph: true
