# Plateforme OCP 4.22.12 seule — pas d'opérateurs (SNO air-gap minimal).
# Bastion 192.168.1.144 : cp vers ~/lab/4.22-ga/imageset-config.yaml
apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
mirror:
  platform:
    architectures:
      - amd64
    channels:
      - name: stable-4.22
        minVersion: 4.22.12
        maxVersion: 4.22.12
