# Example agent-config for compact3 (3 masters).
# Prefer Ansible: ocp_topology: compact3 → role ocp_bastion_install templates.
# MACs/IPs must match terraform/lab-ocp.
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: ocp422
rendezvousIP: 172.16.10.100
additionalNTPSources:
- 172.16.10.11
hosts:
- hostname: ocp-master-0
  interfaces:
  - name: enp6s18
    macAddress: "BC:24:11:E1:8F:82"
  rootDeviceHints:
    deviceName: "/dev/disk/by-path/pci-0000:06:0a.0"
  networkConfig:
    interfaces:
    - name: enp6s18
      type: ethernet
      state: up
      mac-address: BC:24:11:E1:8F:82
      ipv4:
        enabled: true
        dhcp: false
        address:
        - ip: 172.16.10.100
          prefix-length: 24
    dns-resolver:
      config:
        server:
        - 172.16.10.11
    routes:
      config:
      - destination: 0.0.0.0/0
        next-hop-address: 172.16.10.1
        next-hop-interface: enp6s18
        table-id: 254
- hostname: ocp-master-1
  interfaces:
  - name: enp6s18
    macAddress: "BC:24:11:E1:8F:83"
  rootDeviceHints:
    deviceName: "/dev/disk/by-path/pci-0000:06:0a.0"
  networkConfig:
    interfaces:
    - name: enp6s18
      type: ethernet
      state: up
      mac-address: BC:24:11:E1:8F:83
      ipv4:
        enabled: true
        dhcp: false
        address:
        - ip: 172.16.10.101
          prefix-length: 24
    dns-resolver:
      config:
        server:
        - 172.16.10.11
    routes:
      config:
      - destination: 0.0.0.0/0
        next-hop-address: 172.16.10.1
        next-hop-interface: enp6s18
        table-id: 254
- hostname: ocp-master-2
  interfaces:
  - name: enp6s18
    macAddress: "BC:24:11:E1:8F:84"
  rootDeviceHints:
    deviceName: "/dev/disk/by-path/pci-0000:06:0a.0"
  networkConfig:
    interfaces:
    - name: enp6s18
      type: ethernet
      state: up
      mac-address: BC:24:11:E1:8F:84
      ipv4:
        enabled: true
        dhcp: false
        address:
        - ip: 172.16.10.102
          prefix-length: 24
    dns-resolver:
      config:
        server:
        - 172.16.10.11
    routes:
      config:
      - destination: 0.0.0.0/0
        next-hop-address: 172.16.10.1
        next-hop-interface: enp6s18
        table-id: 254
