apiVersion: v1
baseDomain: ocp422.lab.local
metadata:
  name: ocp422
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  REMPLACER_PAR_CA_REGISTRY
  -----END CERTIFICATE-----
imageContentSources:
- mirrors:
  - registry.lab.local:5000/ocp4-422
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.lab.local:5000/ocp4-422
  source: quay.io/openshift-release-dev/ocp-v4.0-payload
platform:
  none: {}
pullSecret: '{"auths":{"registry.lab.local:5000":{"auth":"..."}}}'
sshKey: 'ssh-ed25519 AAAA... remplacer_par_votre_cle'
