# Append to /etc/hosts on Proxmox
# Do NOT replace home DNS in /etc/resolv.conf (Proxmox updates / apt)
#
# sudo tee -a /etc/hosts < proxmox/hosts.lab.example

# Lab OpenShift air-gap
172.16.10.11  dns.lab.local dns
172.16.10.20  registry.lab.local registry
172.16.10.10  bastion.lab.local bastion
172.16.10.100 ocp-sno-422.lab.local api.ocp422.lab.local
172.16.10.110 ocp-sno-5.lab.local api.ocp5.lab.local
