---
# Lancer Ansible DEPUIS la bastion (pas de ProxyJump) :
#   ssh bernard@192.168.1.144
#   cd .../ansible && ansible-playbook -i inventory/hosts.from-bastion.yml playbooks/registry.yml
#
# registry_image_tar : chemin du .tar SUR la bastion (scp depuis le Mac avant).
all:
  vars:
    ansible_user: bernard
  hosts:
    registry:
      ansible_host: 172.16.10.20
