---
# cp all.yml.example group_vars/all.yml

lab_timezone: Europe/Paris
lab_ntp_server: 172.16.10.11

# Repo DVD local (vm air-gap) — ISO RHEL complète attachée dans Proxmox (ide2)
rhel_dvd_repo_enable: true
rhel_dvd_mount: /mnt/rhel
rhel_dvd_device: /dev/sr0

dns_ip: 172.16.10.11
registry_ip: 172.16.10.20
bastion_lab_ip: 172.16.10.10

registry_hostname: registry.lab.local
registry_port: 5000
registry_data_mount: /opt/registry

# Second disque Terraform (scsi1) — partition install : souvent /dev/sdb1 ; disque entier : /dev/sdb
registry_data_device: /dev/sdb1

# TLS : generate (openssl sur la VM) | copy (ansible/files/registry-certs/) | skip
registry_tls_mode: generate

# Image registry:2 amd64 — chemin absolu sur le Mac (podman save), vide = pas de load
registry_image_tar: /Users/bernard/Downloads/registry2-amd64.tar

registry_deploy_container: true
registry_recreate_container: false

bastion_lab_dir: /home/bernard/lab
bastion_install_startup_check: true

ocp_sno_mac: "BC:24:11:XX:XX:XX"
ocp_imageset_profile: virtualization
ocp_agent_generate_iso: false
