[rhel10-baseos]
name=RHEL 10 BaseOS (DVD)
baseurl=file://{{ rhel_dvd_mount }}/BaseOS
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel10-appstream]
name=RHEL 10 AppStream (DVD)
baseurl=file://{{ rhel_dvd_mount }}/AppStream
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
