apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ ocp_cluster_name }}
rendezvousIP: {{ ocp_rendezvous_ip }}
additionalNTPSources:
- {{ ocp_ntp_ip }}
hosts:
{% for node in ocp_nodes %}
- hostname: {{ node.hostname }}
  interfaces:
  - name: {{ node.interface | default(ocp_sno_interface) }}
    macAddress: "{{ node.mac | lower }}"
  rootDeviceHints:
    deviceName: "{{ node.root_device | default(ocp_sno_root_device) }}"
  networkConfig:
    interfaces:
    - name: {{ node.interface | default(ocp_sno_interface) }}
      type: ethernet
      state: up
      mac-address: {{ node.mac | lower }}
      ipv4:
        enabled: true
        dhcp: false
        address:
        - ip: {{ node.ip }}
          prefix-length: 24
    dns-resolver:
      config:
        server:
        - {{ ocp_dns_ip }}
    routes:
      config:
      - destination: 0.0.0.0/0
        next-hop-address: {{ ocp_lab_gateway }}
        next-hop-interface: {{ node.interface | default(ocp_sno_interface) }}
        table-id: 254
{% endfor %}
