proxmox_api_url          = "https://192.168.1.147:8006/api2/json"
proxmox_api_token_id     = "root@pam!terraform"
proxmox_api_token_secret = "REMPLACER"

proxmox_node = "pve"
storage      = "nfs_vm"

node_count    = 3
name_prefix   = "ocp-bma"
bridge        = "vmbr0"
discovery_iso = "nfs_iso:iso/ocp-bma-discovery.iso"

cpu_cores     = 13
memory_mb     = 34816
disk_gb       = 120
extra_disk_gb = 50
