# dns + bastion + registry (SNO hors Terraform) — détail SNO : terraform.tfvars.airgap.example
# Templates : proxmox/rhel-cloudinit-template.md

proxmox_api_url          = "https://192.168.1.147:8006/api2/json"
proxmox_api_token_id     = "root@pam!terraform"
proxmox_api_token_secret = "REMPLACER"
proxmox_tls_insecure     = true

proxmox_node = "pve"

storage_infra     = "nfs_vm"
storage_perf      = "local-lvm"
storage_cloudinit = "local-lvm"

create_dns      = true
create_bastion  = true
create_registry = true
create_sno      = false

rhel_template        = "rhel10-tpl"
rhel_template_infra  = "rhel10-nfs"
registry_install_iso = ""

lab_bridge       = "vmbr1"
admin_bridge     = "vmbr0"
bastion_admin_ip = "192.168.1.144"

ssh_user = "bernard"
