# dns + bastion + registry (SNO hors Terraform) — détail SNO : terraform.tfvars.airgap.example
# Templates : proxmox/rhel-cloudinit-template.md

proxmox_api_url          = "https://192.168.1.147:8006/api2/json"
proxmox_api_token_id     = "root@pam!terraform"
proxmox_api_token_secret = "REMPLACER"
proxmox_tls_insecure     = true

proxmox_node = "pve"

storage_infra = "nfs_vm"
storage_perf  = "local-lvm"

create_dns      = true
create_bastion  = true
create_registry = true
create_sno      = false

rhel_template        = "rhel10-tpl"
rhel_template_infra  = "rhel10-nfs"
registry_install_iso = ""
rhel_dvd_iso         = "nfs_iso:iso/rhel-10.2-x86_64-dvd.iso" # ide2 — BaseOS+AppStream

lab_bridge       = "vmbr1"
admin_bridge     = "vmbr0"
bastion_admin_ip = "192.168.1.144"
# bastion_admin_dns = "192.168.1.1"  # défaut — DNS Internet (pas gateway lab)

ssh_user = "bernard"
# ssh_public_key_file = "/Users/VOUS/.ssh/id_ed25519.pub"
